.editor-overlay {
    position: fixed; /* Ensures it covers the entire screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent black */
    display: flex; /* Allows centering of the child */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    z-index: 1000; /* Ensures it sits above other elements */

    .editor-container {
        display:flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction: column;
        z-index:1001;

        .button-container {
            display:flex;
            gap: 1em
        }
    }
}