.folder-container {
    background-color: #A5AAAB;
    height: 100vh;
    width: 30%;
    font-family: 'Calibri', sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:column;

    .folder-header {
        display:flex;
        justify-content: center;
        gap:2em;
        padding:1em;
        border-bottom: 2px black solid;
        width:100%;
        margin-bottom:1em;
    }
    
    .folder-list {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:1em;
        width:100%;
        
        .folder-element {
            display:flex;
            width:100%;
            border: 1px solid;
            display:flex;
            justify-content:space-between;
            gap: 2em
        }


        li {
            list-style-type: none;
            width:100%;
        }

        button {
            color:black;
            z-index:1
        }
    }
}