.folder-container {
    background-color: #A5AAAB;
    height: 100vh;
    width: 30%;
    font-family: 'Calibri', sans-serif;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:column;
    border-right: 1px solid black;

    .folder-header {
        box-sizing:border-box;
        display:flex;
        justify-content: center;
        align-items:center;
        gap:1em;
        padding:1em;
        border-bottom: 2px black solid;
        width:100%;
        margin-bottom:1em;

        button {
            height: 3em;
        }
    }
    
    .folder-list {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:1em;
        width:100%;
        
        .folder-element {
            display:flex;
            width:100%;
            border: 1px solid;
            padding:1em;
            justify-content:space-between;
            align-items:center;
            flex-grow:1;
            gap: 2em;
            
            strong {
                 word-wrap: break-word;
                 max-width:80%; 
            }
        }

        .folder-element.active {
            background-color: #c7b4d7; /* Highlight the active folder */
        }


        li {
            list-style-type: none;
            width:100%;
        }

        button {
            color:black;
            z-index:1
        }
    }
}

@media (max-width: 800px) {
    .folder-container {
        width: 40%;

        .folder-list .folder-element strong {
            word-wrap: break-word;
            max-width:65%; 
       }
    
    }
}