.header-nav {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: #62757B;
    font-family: 'Calibri', sans-serif;

    .header-icon {
        height:7vw;
    }
    .header-title {
        font-size: 5vw;
    }

    button {
        height: 3em;
    }
}

@media (max-width: 800px) {
    .header-nav {
       
        padding-top:1em;
        padding-bottom:1em;

        .header-title {
            font-size: 7vw;
        }

        button {
            height: 4em;
            width:10em;
        }
    }

    img {
        display:none;
    }
}