.task-list-container {
    background-color: #E6D1CF;
    width: 70%;
    height: 100vh;
    text-align:center;
    font-family: 'Calibri', sans-serif;

    .task-list {
        display: flex;
        justify-content:center;
        align-items:flex-start;
    }

}