.task-list-container {
    background-color: #E6D1CF;
    width: 70%;
    height: 100vh;
    text-align:center;
    font-family: 'Calibri', sans-serif;

    .task-list {
        display: flex;
        justify-content:center;
        align-items:flex-start;
    }

}

@media (max-width: 800px) {
    .task-list {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .task-list-container {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
}