.task-container {

    background-color: #A5AAAB;
    font-family: 'Calibri', sans-serif;

    .task-header {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
}